<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ekcapaper.mapgamear"
    tools:ignore="GoogleAppIndexingWarning">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />

    <application
        android:name="com.ekcapaper.mapgamear.data.ThisApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_public"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_public_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.ekcapaper.mapgamear.activity.raar.SetupAppActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name="com.ekcapaper.mapgamear.activity.raar.GameMapActivity"
            android:exported="false" />
        <activity
            android:name="com.ekcapaper.mapgamear.activity.raar.GameRoomActivity"
            android:exported="false"/>
        <activity
            android:name="com.ekcapaper.mapgamear.activity.raar.GameRoomGenerateActivity"
            android:exported="false"/>
        <activity
            android:name="com.ekcapaper.mapgamear.activity.raar.LobbyActivity"
            android:exported="false"/>
        <activity
            android:name="com.ekcapaper.mapgamear.activity.raar.LoginActivity"
            android:exported="false">

        </activity>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" /> <!-- Add Google Map Library -->
        <uses-library android:name="com.google.android.maps" /> <!-- Google API Key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name="com.ekcapaper.mapgamear.room.ActivityFavorites"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ekcapaper.mapgamear.fcm.ActivityNotifications"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ekcapaper.mapgamear.fcm.ActivityDialogNotification"
            android:theme="@style/AppTheme.Dialog.NoActionBar" />
        <activity
            android:name="com.ekcapaper.mapgamear.activity.ActivityWebView"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ekcapaper.mapgamear.activity.MainMenu"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
    </application>
</manifest>